* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ----------------------------------------------------------------- */
/*                     MOBILE-NAV START  STYLE                       */
/* ----------------------------------------------------------------- */
.mobile-nav {
  background-color: #f6f6f6;
  display: grid;
}
.mobile-nav__top {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.mobile-nav__icons {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: end;
  align-self: center;
  grid-column: span 2;
}
.site-logo {
  letter-spacing: 0.1px;
  padding-left: 1.5rem;
  color: #252b42;
  font-weight: bold;
  font-size: 2rem;
  grid-column: span 2;
}
.mobile-nav__lists {
  margin-top: 3rem;
}
.mobile-nav__lists--center {
  list-style-type: none;
  text-align: center;
  font-size: 1.875rem;
  padding: 2.5rem;
  color: #737373;
  line-height: 45px;
  letter-spacing: 0.2px;
}
.web-navbar {
  display: grid;
  grid-template-columns: repeat(8, minmax(0, 1fr));
  align-items: center;
  justify-content: space-between;
  padding: 5rem;
  background-color: #f6f6f6;
}
.logo-web {
  font-weight: 700;
  font-size: 2.25rem;
  grid-column: span 3 / span 3;
}
.web-navbar__lists {
  display: flex;
  justify-content: flex-start;
  grid-column: span 4 / span 4;
  gap: 1rem;
  margin-right: 1rem;
}
.web-navbar__links {
  text-decoration: none;
  text-align: center;
  font-size: 1.875rem;
  color: #737373;
  line-height: 45px;
  letter-spacing: 0.2px;
}
.web-nav__menu {
  display: flex;
  justify-content: flex-end;
  grid-column: span 1 / span 1;
}

.choose-container {
  padding: 2.5rem;
}
.choose-container__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  column-gap: 0.5rem;
}
.choose-container__text-choose {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: #252b42;
  font-weight: 600;
  font-size: 40px;
  line-height: 57px;
  text-align: center;
  letter-spacing: 0.2px;
  width: 250px;
}
.choose-container__text-choose--bussness {
  width: 300px;
}

.choose-container__desc {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #737373;
  width: 270px;
  height: 114px;
}
.card-container {
  display: grid;
  margin-left: 1rem;
  margin-right: 1rem;
  align-items: center;

  padding-bottom: 1rem;
  gap: 2rem;
}
.card-wrapper {
  border: 1px solid #e8e8e8;
  /* padding: 1rem; */
}
.card--profile {
  border: none;
  /* box-shadow: 2px 2px #e8e8e8; */
}
.card--white {
  background-color: white;
  padding: 1rem;
}
.card__img-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
}
.card__img-header {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #252b42;
}
.card__description {
  padding: 0.5rem;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
}
.card-name {
  color: #ffa62b;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
}
.card-desc {
  color: #252b42;
}
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.card__img {
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.card-content__name {
  color: #252b42;
  font-weight: 700;
  font-size: 25px;
  line-height: 57px;
  text-align: center;
  letter-spacing: 0.2px;
}
.card-content__fonction {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #737373;
}
.card-content__profile {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.card-social {
  display: flex;
  gap: 0.5rem;
}
.form {
  background-image: url('../asserts/bg-c.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 5rem;
  margin-top: 10px;
}
.form__text {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #252b42;
}
.form__title {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 0.2px;
  color: #252b42;
  margin-bottom: 1.5rem;
}
.form-content {
  display: grid;
  margin-top: 2rem;
  justify-items: center;
  place-content: center;
}
.form-content__input .from-content__section {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}
.form-content__message {
  height: 140px;
  border-radius: 0.5rem;
  padding: 1rem;
  width: 100%;
}
.form__btn {
  margin-top: 1.5rem;
  background-color: #ffa62b;
  text-align: center;
  padding: 1rem;
  color: white;
  font-weight: 600;
  border-radius: 0.5rem;
  border: none;
  width: 100%;
}
.consulting {
  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.consulting__content {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
.consulting__text {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #252b42;
}
.consulting__subtitle {
  color: #737373;
}
.consulting__btn {
  margin-top: 1.5rem;
  background-color: #ffa62b;
  text-align: center;
  padding: 1rem;
  color: white;
  font-weight: 600;
  border-radius: 0.5rem;
  border: none;
}
.footer-content {
  background-color: #252b42;
  padding: 5rem;
  display: grid;
  gap: 2rem;
}
.footer-content__wrapper {
  display: grid;
  grid-template: 2rem;
}
.footer-content__text {
  color: white;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
}
.footer-content__social {
  display: flex;
  gap: 1rem;
}
.footer {
  color: white;
  display: grid;
  gap: 1.5rem;
}
.footer__lists {
  display: grid;
  gap: 0.5rem;
}
.footer__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #ffffff;
  text-decoration: none;
}
.footer__title {
  font-weight: 700;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}
.footer-suscribe {
  display: grid;
  gap: 0.5rem;
}
.footer-suscribe__btn-container {
  display: flex;
  border: 1px solid white;
  width: 100%;
}
.footer-suscribe__btn {
  background: #ffa62b;
  border: none;
  text-align: center;
  color: white;
  font-weight: 600;
  /* padding: 1rem; */
}
.footer-suscribe__input {
  border: none;
  width: 100%;
  padding: 6%;
}
.make-designer {
  background: #16697a;
  text-align: center;
  padding-left: 5rem;
  padding-right: 5rem;
  height: 98px;
}
.make-designer__text {
  color: white;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}
/* ----------------------------------------------------------------- */
/*                     MOBILE-NAV end  STYLE                         */
/* ----------------------------------------------------------------- */

/* ----------------------------------------------------------------- */
/*                     EXPERT MOBILE START  STYLE                    */
/* ----------------------------------------------------------------- */
.experts-container {
  display: grid;
  justify-content: center;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  background-color: #fafafa;
}
.experts-container__title {
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #252b42;
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  text-align: center;
  letter-spacing: 0.2px;
  font-family: 'Montserrat';
}
.title {
  font-weight: 200;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #737373;
  padding-top: 1.25rem;
  padding-bottom: 1.25em;
  align-items: center;
}
.btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
.btn {
  border-radius: 9999px;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  align-items: center;
  border: none;
}
.btn--left {
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #ffffff;
  background: #ffa62b;
}
.btn--right {
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #00a0c1;
  border: 1px solid #00a0c1;
}
.container {
  background-color: #f3f3f3;
}
.image-content {
  position: relative;
}
.image-content__images {
  position: relative;
}
.image-content__cover {
  width: 100%;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
.img-btn {
  position: absolute;
  width: 97.6px;
  height: 98.4px;
  left: calc(50% - 97.6px / 2 - 0.2px);
  top: calc(50% - 98.4px / 2 + 0.2px);
}
.img-bg {
  width: 100%;
  height: 400px;
  margin-top: -15rem;
  background-color: #0b2c33;
}

/* ----------------------------------------------------------------- */
/*                     EXPERT MOBILE END  STYLE                      */
/* ----------------------------------------------------------------- */

/* ----------------------------------------------------------------- */
/*                     MEDIA START STYLE                             */
/* ----------------------------------------------------------------- */

@media screen and (min-width: 746px) and (max-width: 1318px) {
  .mobile-nav {
    display: none;
  }
  .experts-container {
    text-align: center;
  }
  .make-designer__text {
    display: flex;
    justify-content: flex-start;
  }
  .make-designer__text--desp {
    display: none;
  }
  .choose-container__text-choose {
    width: 100%;
  }
  .footer__text {
    color: #bdbdbd;
  }
  .experts-container__title {
    width: 500px;
    font-weight: bold;
    font-size: 48px;
    line-height: 80px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #252b42;
  }
  .title {
    align-items: center;
    padding-left: 45px;
    width: 500px;
  }

  .btn-container {
    flex-direction: row;
    justify-content: center;
  }
  .choose-container__content {
    column-gap: 0;
  }
  .text-paragraph-choose {
    width: 470px;
  }
  .card-container {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .choose-container__text-choose--bussness {
    width: 461px;
  }
  .img-over__content {
    padding-left: 8rem;
    padding-right: 8rem;
    height: 400px;
    background-size: cover;
    background-position: center;
  }
  .img-bg {
    height: 382px;
  }
  .card__descriptionription--wole {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #737373;
    width: 270px;
  }
  .card-profile {
    padding-left: 8rem;
    padding-right: 8rem;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .from-content__inputs {
    display: flex;
    gap: 2rem;
    width: 100%;
  }
  .form-content {
    justify-content: flex-start;
    margin: auto;
  }
  .form__title {
    font-size: 40px;
  }
  .consulting {
    flex-direction: row;
    justify-content: space-around;
  }
  .footer-content {
    align-items: center;
  }
  .footer-content__wrapper {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    border-bottom: 1px solid #bdbdbd;
  }
  .footer-content__text {
    margin-bottom: 1rem;
  }
  .footer-content__social {
    justify-content: flex-end;
    margin-bottom: 1rem;
  }
  .footer {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
  .footer-suscribe {
    grid-column: span 2;
  }
  .footer-suscribe__btn-container {
    width: 100%;
  }
  .footer-suscribe__input {
    width: 100%;
  }
}
@media screen and (max-width: 746px) {
  .web-navbar {
    display: none;
  }
}
/* ----------------------------------------------------------------- */
/*                     MEDIA END  STYLE                              */
/* ----------------------------------------------------------------- */
